@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-image: url("../background/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
  
}

.logo{
  text-align: center;
  padding: 10px;
  padding-top: 50px;
}

.logo img{
  padding-top: 5px;
  width: 100px;
  height: 100px;
  border: solid 2px #ffffff7a;
  border-radius: 50px;
  background-color: #ffffff57;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }
  
  .card {
    background-color: #ffffff;
    padding: 30px;
    border: solid 4px;
    border-color: #2157ce;
    border-radius: 30px;
    box-shadow: 3px 3px 1px 3px #5c5b5b60;
    width: 400px;
  }
  
  h1{
    text-align: center;
    margin-bottom: 20px;
    color: #0d009c
  }
  
  .label-float input{
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #0d009c;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;
    
  }
  
  .label-float{
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .label-float input:focus{
    border-bottom: 2px solid #4038a0;
  }
  
  .label-float label{
    color: #0d009c;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
  }
  
  .label-float input:focus + label,
  .label-float input:valid + label{
    font-size: 13px;
    margin-top: 0;
    color: #4038a0
  }
  
  button{
    background-color: #2157ce;
    border: solid 1px #a3a3a3;
    color: #ffffff;
    padding: 10px 20px;
    margin-top: 25px;
    font-weight: bold;
    font-size: 15pt;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-out;
  }
  
  button:hover{
    background-color: rgba(33, 88, 206, 0.438);
    color: #fff;
  }
  
  .justify-center{
    display: flex;
    justify-content: center;
  }
  
  .fa-eye{
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    color: #0d009c;
  }
  
  #msgError{
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    display: none;
  }
  
  #msgSuccess{
    text-align: center;
    color: #00bb00;
    background-color: #bbffbe;
    padding: 10px;
    border-radius: 4px;
    display: none;
  }
