@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url("/src/assets/tt.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed
  
}
.logo {
text-align: center;
padding: 10px;
}

.logo img{
    width: 100px;
    height: 100px;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}

.card {
  background-color: #0f0114b2;
  padding: 60px;
  height: 380px;
  border-radius: 40px;
  box-shadow: 3px 3px 1px 0px #00000060

}

h1{
  text-align: center;
  color: #28a9f3
  
}

.label-float input{
  width: 100%;
  padding: 5px 5px;
  display: inline-block;
  border: 0;
  border-bottom: 2px solid #ffffff;
  background-color: transparent;
  outline: none;
  min-width: 180px;
  font-size: 19px;
  transition: all .3s ease-out;
  border-radius: 0;
  
}

.label-float{
  position: relative;
  padding-top: 13px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.label-float input:focus{
  border-bottom: 2px solid #4038a0;
}

.label-float label{
  color: #0c8ad3;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all .3s ease-out;
}

.label-float input:focus + label,
.label-float input:valid + label{
  font-size: 13px;
  margin-top: 0;
  color: #4038a0
}

button{
  background-color: transparent;
  border: solid 1px #fff;
  color: #0c8ad3;
  padding: 12px;
  font-weight: bold;
  font-size: 12pt;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  transition: all .4s ease-out;
}

button:hover{
  background-color:  #2157ce;
  border: solid 1px rgba(0, 0, 0, 0);
  color: #fff;
}

.justify-center{
  display: flex;
  justify-content: center;
  padding: 25px;
  margin-top: 50px;
  
}

hr{
  height: 1px;
  width: 65%;
  background-color: #fff;
  margin-top: -55px;
}

p{
  color: #b212da;
  font-size: 20px;
  text-align: center;
  display: flex;
  margin-top: -35px;
}

a{
  color: #b212da;
  font-weight: bold;
  text-decoration: none;
  transition: all .3s ease-out;
}

a:hover{
  color: #fff;
}

.fa-eye{
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  color: #db0eca;
}

 #msgError{
  text-align: center;
  color: #ff0000;
  background-color: #ffbbbb;
  padding: 10px;
  border-radius: 4px;
  display: none;
}