body {
    background: linear-gradient(95deg, rgb(73, 73, 206), rgb(153, 72, 153));
    margin: 0;
    
  
}

header {
    position: relative;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo img {
    height: 170px;
    width: 170px;
    margin: -15px;
}

nav .links {
    display: flex;
    gap: 10px; /* Espaçamento de 5 pixels entre os links */
    position: absolute;
    right: 10px; /* Distância do canto direito */
    top: 10px; /* Distância do canto superior */
}

nav .link {
    text-decoration: none;
}

nav .op {
    color: white;
    font-size: 29px;
    padding: 9px;
    transition: 0.4s;
    border: solid 0px;
    border-radius: 19px;
    box-shadow: 0.4;
}

nav .op:hover {
    border-radius: 19px;
    border: solid white 0px;
    background: linear-gradient(50deg, rgb(247, 243, 243), rgb(220, 209, 217));
    color: black;
    height: 40px;
    transform: translateY(-6px);
    box-shadow: 2px 1px 40px rgb(75, 172, 175);

}

nav .personas {
    border: solid rgb(255, 255, 255) 0.1px;
    height: 200px;
    width: 830px;
    border-radius: 17px;
    display: flex;
    transition: 0.5s;
    box-shadow: 0.5s;
}

nav .personas{
    margin-top: 120px;
    margin-left: 17%;
}

nav .personas:hover{
    transform: translateY(-8px);
    box-shadow: 2px 1px 40px rgb(75, 172, 175);
    background: linear-gradient(-95deg, rgb(73, 73, 206), rgb(153, 72, 153));
}

nav .descrição{
    color: white;
    margin-left: 200px;
    font-size: 23px;
    margin-top: -180px;
}

header .navbar {
    border-radius: 17px;
    border: solid black 1px;
    background: linear-gradient(-175deg, rgb(242, 53, 84),rgb(166, 89, 102));
    margin-top: -3px;
}

nav img {
    height: 200px;
    width: 190px;
    border-radius: 17px;
    
}
