body {
    background: linear-gradient(95deg, rgb(73, 73, 206),rgb(153, 72, 153));
}

.logo img{
    height: 150px;
    width: 150px;
    display: flex;
    position: relative;
}

div a{
    text-decoration: none;
    color: rgb(197, 194, 194);
    
}

div a:hover{
    border-radius: 10px;
    border: solid black 1px;
    padding: 10px;
    
}
